<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <img src="http://upload.wikimedia.org/wikipedia/en/4/48/Music_and_Video_club_%28MVC%29_logo.jpg" />
    <div>
        @RenderBody()
    </div>
    <p>
        Blah Blah Blah Blah Blah Blah Blah Blah
        <br />Copyright ....
    </p>
</body>
</html>
