@model MovieDAL.Person
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    @foreach (var movie in Model.ActedMovies)
    {
        <li>
            @Html.ActionLink(@movie.Title, "Details", "Movie", new { id = @movie.MovieId }, null)
        </li>
    }
</ul>



