@using MovieDAL
@model IEnumerable<Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Liste over @Model.Count() filmer</h2>

<ul>
 @foreach (var movie in Model)
        {
            <li>
                @Html.ActionLink(movie.Title, "Details", "Movie", new { id = @movie.MovieId }, null)
            </li>
        }
</ul>